@model VOB.Web.Models.ReporteNormalModel

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            MarcarReporteSeleccionado();
        });

        function MarcarReporteSeleccionado() {
            var tipoBalance = '@Model.IdTipoBalance';
            if (tipoBalance == "4")
                $('#lnkConceptual').addClass('strongwhite');
        }
    </script>
}

@using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { @class = "" }))
{
    <h1>TESTING PAGE</h1>
    <br />
    <div id="controlesBusqueda">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    @Html.TextBoxFor(m => m.Rut, new { @class = "form-control medium-size", @placeholder = Html.DisplayNameFor(m => m.Rut) })
                    <span class="input-group-btn pull-left">
                        <button id="btnBuscarCliente" type="submit" class="btn btn-default disabled">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <form>
        <div class="form-group">
            <label for="inputEmail">Resultado:</label>
            @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control", @placeholder ="Resultado..." })
        </div>
    </form>
}